.page {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
}

.calc-body {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border: 2px solid green;
}

.calc-screen {
    height: 10px;
    width: 200px;
    margin-bottom: 10px;
    border: 2px solid black;
}

.num-pad {
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 200px;
    border: 2px solid red;
}

.num-pad-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.num-pad-btn {
    position: relative;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 2px;
    border: 2px solid orange;
    box-sizing: border-box;
}